<div>
  Hello. There are <%= @users.size %> users.
  <%= link_to 'Create User', new_user_path %>
</div>

<div id="user-pie-chart__age">
  <h3>Age</h3>
  <%= pie_chart @users.group(:age).count %>
</div>
<div id="user-pie-chart__gender">
  <h3>Gender</h3>
  <%= pie_chart @users.group(:gender).count %>
</div>
<div id="user-pie-chart__weight">
  <h3>Weight</h3>
  <%= pie_chart @users.group(:weight).count %>
</div>
